<div class='box question'>
    <h3>Question 1</h3>
    <ol>
        <li>1. Take some time to explore the project a little.</li>
        <li>2. Locate <code>exercisesP1.js</code> and <code>question1.ejs</code></li>
        <li>3. Type something inside of the answer div and reload the page.</li>
        <li>4. If you see your text in the answer box below, you have completed question 1.</li>
    </ol>
</div>