<div class='box question'>
    <h3>Question 10</h3>
    <p>404 Pages so often neglected and, well, ugly.</p>
    <p>Repeat what you did for Question 9 here. Add a <code>fourOhFour.ejs</code> page and spruce it up. Make it a fun page.</p>    
    <p>Check out the 404 page from Smooch. <a target='_blank' href='https://smooch.io/bacon'>https://smooch.io/bacon</a></a></p>
</div>