<div class="box question">
  <h3>Question 2</h3>
  <ol>
    <li>
      Read this
      <a
        href="https://scotch.io/tutorials/use-ejs-to-template-your-node-application"
        >tutorial</a
      >.
    </li>
    <li>
      1. Locate <code>question2.ejs</code> and <code>exercisesP1.js</code>
    </li>
    <li>
      2. In function <code>q2</code>, there is a variable declared named
      <code>sentence</code>.
    </li>
    <li>3. Pass that variable to the ejs file via the render method.</li>
    <li>4. Uncomment the line in that contains the variable.</li>
    <li>5. Reload the page... Did it work?</li>
    <li>
      6. If you see the sentence rendered in the answer box, move on to the next
      question.
    </li>
  </ol>
  <p>
    ✔️ Notice that there is an empty object, that is an argument of the render
    method. This is an optional parameter that accept keys/values that can be
    passed to the ejs file.
  </p>
  <codeblock>res.render('pages/question2', {});</codeblock>
  <p>
    What is the difference between the two notations (<code>&lt;%-</code> and
    <code>&lt;%=</code> )? Check how each one is rendered.
  </p>
</div>
