<div class='box question'>
    <h3>Question 3</h3>
    <ol>
        <li>1. Locate <code>question3.ejs</code> and <code>exercisesP1.js</code></li></li>
        <li>2. In function <code>q3</code>, there is a variable declared named <code>homer</code>.</li>
        <li>2. Pass the contents of that object to the ejs file via the render method.</li>
        <li>3. Figure out how to render all of the data in the object from within the .ejs file.</li>
        <li>4. Reload the page... Did it work?</li>
    </ol>
    <p>✔️ How did you pass the data to the ejs file?</p>
</div>