<div class='box question'>
    <h3>Question 4</h3>
    <ol>
        <li>1. Locate <code>question4.ejs</code> and <code>exercisesP1.js</code></li></li>
        <li>2. In function <code>q4</code>, there is a variable declared named <code>popularGirlNames</code>.</li>
        <li>3. Pass only the top three names to the ejs file via the render method.</li>
        <li>4. Use valid HTML to render those names in the answer box.</li>
        <li>5. Reload the page... Did it work?</li>
    </ol>
    <p>✔️ It's good practice to only pass on the data you need.</p>
</div>