<div class='box question'>
    <h3>Question 7</h3>
    <p>Repeat what you did in Question 6 for this snippet as well.</p>
    <codeblock class='sample'>
        &lt;header>
        <br />
        &nbsp;&nbsp;&lt;h1>Node: Workshop 1</h1>
        <br />
        &lt;/header>
        <br />
    </codeblock>
    <p>✔️ This is what a typical include looks like.</p>
</div>