<div class="box question">
  <h3>Question 8</h3>
  <p>
    It would be great if there was a way to navigate between questions directly
    from the page.
  </p>
  <p>
    Add two links to each question page: a "previous" and "next" link or button.
  </p>
</div>
