<div class='box question'>
    <h3>Question 9</h3>
    <p>Currently if we navigate to the homepage (http://localhost:8000), there is nothing there.</p>
    <ol>
        <li>1. Create a homepage.ejs file in the pages directory.</li>
        <li>2. Modify this endpoint in the <code>server.js</code> file to point to your newwly created <code>homepage.ejs</code> file.</li>
        <li>3. Add links to each of the questions.</li>
        <li>4. Make it look nice. Feel free to add CSS to the <code>styles.css</code> file to make this page puurty.</li>
    </ol>
    
</div>