<!DOCTYPE html>
<head>
  <title>Node: Workshop 2</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 2</h1>
  </header>
  <div class="main">
    <div class="navigation">
      <a class='previous' href="/question<%= Number(props.pageNumber) - 1 %>">Previous</a>
      <span id='question'>Question <%= props.pageNumber %> </span>
      <a class='next' href="/question<%= Number(props.pageNumber) + 1 %>">Next</a>
    </div> <!-- navigation -->
    <div class="content">