<div class="navigation">
  <a class='previous' href="/question<%= Number(props.pageNumber) - 1 %>">Previous</a>
  <span id='question'>Question <%= props.pageNumber %> </span>
  <a class='next' href="/question<%= Number(props.pageNumber) + 1 %>">Next</a>
</div>