h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

p, li, a, blockquote, span {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5em;
}

code, codeblock {
    background: #eaeaea;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    padding: 0 4px;
}

codeblock {
    display: block;
    margin: 12px 32px 6px 0;
    padding: 12px 14px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    margin-bottom: 1em;
}

h4 {
    font-size: 20px;
}

.previous, .next, #question {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#fourOhFour h3, #space-invaders {
    font-size: 60px;
    font-family: fantasy;
    width: 100%;
}

#fourOhFour p {
    font-size: 20px;
    width: 100%;
}

#fourOhFour a {
    font-size: 24px;
    color: #3C873A;
    width: 100%;
}

#homepage-heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
}

.navBtn {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

#question {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: #fafafa;
}