<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <div class='main'>
        <h2>Part 1</h2>
        <div class='content'>
            <%- include('../partials/questions/2') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <!-- render answer here -->
                <!-- Notice that the commenting inside the ejs brackets is JS. -->
                
                <p><%- sentence %></p>

                <!-- Keep that in mind for later. Everything between those brackets IS JavaScript. -->
            </div>
        </div>
        <nav>
            <a href='/question1'>Previous</a>
            <a href='/question3'>Next</a>
        </nav>
    </div>
</body>