<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <div class='main'>
        <h2>Part 2</h2>
        <div class='content'>
            <%- include('../partials/questions/6') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <p>No answer required here...</p>
                
            </div>
        </div>
        <nav>
            <a href='/question5'>Previous</a>
            <a href='/question7'>Next</a>
        </nav>
    </div>
</body>