<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <div class='main'>
        <h2>Part 2</h2>
        <div class='content'>
            <%- include('../partials/questions/9') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <!-- render answer here -->
                <p>No answer required here...</p>

            </div>
        </div>
        <nav>
            <a href='/question8'>Previous</a>
            <a href='/question10'>Next</a>
        </nav>
    </div>
</body>