<div class='box question'>
    <h3>Question 5</h3>
    <ol>
        <li>1. Locate <code>question5.ejs</code> and <code>exercisesP1.js</code></li></li>
        <li>2. In function <code>q5</code>, there is a variable declared named <code>popularGirlNames</code>.</li>
        <li>3. This time we want to render the whole list in the answer box. It should look something like this.</li>
        <div class='sample'>
            <h3>Top 5 girls names in the England and Wales</h3>
            <ol>
                <li>1. Olivia</li>
                <li>2. Ruby</li>
                <li>3. Emily</li>
                <li>4. Grace</li>
                <li>5. Jessica</li>
            </ol>
        </div>
        <li>5. Reload the page... Did it work?</li>
    </ol>
    <p>✔️ Implement this with a <code>forEach</code> Keep in mind that you can use Vanilla JS inside of .ejs files. Go back and look at the article that is linked in question 2 for more explanation.</p>
</div>