<div class='box question'>
    <h3>Question 6</h3>
    <p>This code is repeated for all of the question pages... sooooo not DRY. Create a new partial that contains these lines and then replace those lines with an ejs <code>include()</code> See the example below.</p>
    <codeblock class='sample'>
        &lt;header>
        <br />
        &nbsp;&nbsp;&lt;h1>Node: Workshop 1</h1>
        <br />
        &lt;/header>
    </codeblock>
    <p>✔️ This is what a typical include looks like.</p>
    <codeblock class='sample'>
        &lt;%- include('&lt;RELATIVE_PATH_TO_PARTIAL>', {}) %>
    </codeblock>
</div>