<%- include('../partials/head') %>

<div class="content">
  <div id='fourOhFour'>
    <h3 >404. The page you're trying to visit can't be found.</h3>
    <p>You can warp <a href="/">back to home</a> or play</p>
    <h3 id="space-invaders">Space Invaders</h3>
    <p>The choice is yours!</p>
  </div>
  <iframe src="https://cb-i-4-arturo.netlify.app/" title="Space Invaders" width="1000px" height="900px"></iframe>
</div> <!-- content -->

<%- include('../partials/endBody') %>