<%- include('../partials/head') %>

<h3 id='homepage-heading'>Get Familiar with <%% EJS %></h3>
<div id='grid-container'>
  <ul id='question-grid'>
    <% for( let number = 1; number <= 10; number++ ) { %>
      <li><a class="question-link" href="/question<%= number %>">Question <%= number %></a></li>
    <% } %>
  </ul>
</div>

<%- include('../partials/endBody') %>