<%- include('../partials/head') %>

<div class="content">
  <div class="box answer">
    <h3>Questions</h3>
    <ul>
      <li><a href="http://localhost:4000/question1">Question 1</a></li>
      <li><a href="http://localhost:4000/question2">Question 2</a></li>
      <li><a href="http://localhost:4000/question3">Question 3</a></li>
      <li><a href="http://localhost:4000/question4">Question 4</a></li>
      <li><a href="http://localhost:4000/question5">Question 5</a></li>
      <li><a href="http://localhost:4000/question6">Question 6</a></li>
      <li><a href="http://localhost:4000/question7">Question 7</a></li>
      <li><a href="http://localhost:4000/question8">Question 8</a></li>
      <li><a href="http://localhost:4000/question9">Question 9</a></li>
      <li><a href="http://localhost:4000/question10">Question 10</a></li>
    </ul>
  </div> <!-- answer box -->
</div> <!-- content -->

<%- include('../partials/endBody') %>