<%- include('../partials/head.ejs') %>

<%- include('../partials/questions/4') %>
<div class="box answer">
  <h3>Answer</h3>
  <ul>
    <% props.popularGirlNames.slice(0, 3).forEach(name => { %>
    <li><%= name %></li>
    <% }) %>
  </ul>
</div>

<%- include('../partials/endBody.ejs') %>