<%- include('../partials/head.ejs') %>

<%- include('../partials/questions/5') %>
<div class="box answer">
  <h3>Answer</h3>
  <!-- render answer here -->
</div>

<%- include('../partials/endBody.ejs') %>