<%- include('../partials/head.ejs') %>

<%- include('../partials/questions/1') %>
<div class="box answer">
  <h3>Answer</h3>
  <ul>
    <li>E - Embedded, Elegant, Efficient</li>
    <li>JS - Javascript</li>
  </ul>
</div>

<%- include('../partials/endBody.ejs') %>