<!DOCTYPE html>
<head>
  <title>Node: Workshop 1</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 1</h1>
  </header>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/2') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <!-- Notice that the commenting inside the ejs brackets is JS. -->

        <p><%- // sentence %></p>
        <p><%= // sentence %></p>

        <!-- Keep that in mind for later. Everything between those brackets IS JavaScript. -->
      </div>
    </div>
  </div>
</body>
