<%- include('../partials/head') %>
<%- include('../partials/navigation') %> 

<div class="content">
  <%- include('../partials/questions/9') %>
  <div class="box answer">
    <h3>Answer</h3>
    <!-- render answer here -->
    <p>No answer required here...</p>
  </div> <!-- answer box -->
</div> <!-- content -->

<%- include('../partials/endBody') %>