<!DOCTYPE html>
<head>
  <title>Node: Workshop 1</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 1</h1>
  </header>
  <div class="main">
    <h2>Part 2</h2>
    <div class="content">
      <%- include('../partials/questions/8') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p>No answer required here...</p>
      </div>
    </div>
  </div>
</body>
