<%- include('../partials/head.ejs') %>

<%- include('../partials/questions/7') %>
<div class="box answer">
  <h3>Answer</h3>
  <!-- render answer here -->
  <p>No answer required here...</p>
</div>

<%- include('../partials/endBody.ejs') %>